[Main]
ip=192.168.2.107
port=8000
csvfile=plug1.csv
#webWidth=600
#webHeight=320
#credentials=admin:admin
#daemon
#daemonemon
#emonurl=http://www.emoncms.org
#emonapikey=<writekeyfromemoncms>
#emonnode=2
